/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/**
 * BODY.......Body styles
 * FORMS......Form styles
 * BUTTONS....Button styles
 * ALERTS.....Alert styles
 */





/*------------------------------------*\
  $BODY
\*------------------------------------*/
body {
  color: $color-text;
  font-family: "ProximaNova", Verdana, sans-serif;
  font-size: $medium-size;
  line-height: $medium-lineHieght;
}

h1, h2, h3, h4 {
  font-family: "museo", serif;
}
h1 {
  color: $color-headings;
  font-size: $xxx-large-size;
  line-height: $xxx-large-lineHeight;
}
h2 {
  color: $color-headings;
  font-size: $xx-large-size;
  line-height: $xx-large-lineHeight;
}
h3 {
  font-size: $x-large-size;
  line-height: $x-large-lineHeight;
}
h4 {
  font-size: $large-size;
  line-height: $large-lineHeight;
}

a,
a:hover,
a:active {
  color: $color-link;
}





/*------------------------------------*\
  $FORMS
\*------------------------------------*/
label {
  color: $color-label;
  font-size: $small-size;
  line-height: $small-lineHieght;
}

textarea,
input[type=text] {
  font-size: $medium-size;
  line-height: $medium-lineHieght;
  color: $color-text;
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);

  &:focus {
    border-color: $color-border-input-selected;
    box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);
  }
  &:disabled,
  &.disabled {
    color: $color-text-input-disabled;
    background: $color-background-input-disabled;
  }
}

select {
  border-color: $color-border-select;
  font-size: $small-size;
  line-height: $small-lineHieght;
  color: $color-text;

  &:focus {
    border-color: $color-text;
  }
}





/*------------------------------------*\
  $BUTTONS
\*------------------------------------*/
.button {
  font-size: $medium-size;
  text-shadow: 0px -1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);

  // new buttons should override text, background, and border colors for default, hover, active, and disabled:hover states
  color: #fff;
  background-color: $color-background-gradient-start-button-primary;
  background-image: linear-gradient($color-background-gradient-start-button-primary, $color-background-gradient-stop-button-primary);
  &:hover {
    color: #fff;
    background: $color-background-gradient-start-button-primary;
  }
  &:active {
    color: #fff;
    background-image: linear-gradient($color-background-gradient-stop-button-primary, $color-background-gradient-start-button-primary);
  }
  &:disabled,
  &.disabled {
    // new buttons must set the disabled hover state to match the default state of the button
    &:hover {
      background-image: linear-gradient($color-background-gradient-start-button-primary, $button-blue-dark);
    }
  }

  // secondary submit button
  &.secondary {
    color: $color-text;
    background-color: $color-background-gradient-start-button-secondary;
    background-image: linear-gradient($color-background-gradient-start-button-secondary, $color-background-gradient-stop-button-secondary);
    text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
    &:hover {
      background: $color-background-gradient-start-button-secondary;
    }
    &:active {
      background-image: linear-gradient($color-background-gradient-stop-button-secondary, $color-background-gradient-start-button-secondary);
    }
    &:disabled,
    &.disabled {
      &:hover {
        background-image: linear-gradient($color-background-gradient-start-button-secondary, $color-background-gradient-stop-button-secondary);
      }
    }
  }
}





/*------------------------------------*\
  $ALERTS
\*------------------------------------*/
.alert {
  background: $color-background-alert-success;
  color: $color-text-alert-success;
  border-color: $color-border-alert-success;

  &.warning {
    background: $color-background-alert-warning;
    color: $color-text-alert-warning;
    border-color: $color-border-alert-warning;
  }
  &.error {
    background: $color-background-alert-error;
    color: $color-text-alert-error;
    border-color: $color-border-alert-error;
  }
}





/*------------------------------------*\
  $BADGES
\*------------------------------------*/
.badge {
  color: #000;
  background: #fff;
  font-size: $small-size;

  &.dark {
    color: #fff;
    background: $color-headings;
  }
}