/*------------------------------------*\
  $FUNCTIONS
\*------------------------------------*/
overflow()
  if arguments[0] == ellipsis
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  else
    overflow: arguments

clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both