/*------------------------------------*\
  $MIXINS
\*------------------------------------*/
box-shadow() {
  -webkit-box-shadow: arguments;
          box-shadow: arguments;
}

box-sizing() {
  -webkit-box-sizing: arguments;
     -moz-box-sizing: arguments;
          box-sizing: arguments;
}

user-select() {
  -webkit-user-select: arguments;
     -moz-user-select: arguments;
      -ms-user-select: arguments;
          user-select: arguments;
}

background-image() {
  // add linear gradient vendor prefixes
  if match('-gradient\(', '' + arguments) {
    background-image: s('-webkit-%s', arguments);
    background-image: s('-moz-%s', arguments);
  }

  background-image: arguments;
}