/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/**
 * COLORS.......Color variables
 * FONTS........Font variables
 */





/*------------------------------------*\
  $COLORS
\*------------------------------------*/
/*
 * Color plaque
 * TODO: When we decide on the FamilySearch brand colors, rename these to match
 * http://chir.ag/projects/name-that-color/ for color names
 */
$brand-color-link-blue = #0051c4;

$brand-color-male-blue = #3d8ff7;
$brand-color-female-pink = #e23f7b;

// fonts
$brand-color-heading-grey = #4d4d4a;
$brand-color-body-grey = #333331;
$brand-color-label-grey = #666662;

// buttons
$brand-color-button-grey-light = #e6e7e8;
$brand-color-button-grey-dark = #bcbec0;
$brand-color-button-grey-border = #d5d5d5;

$brand-color-button-blue-light = #358fe8;
$brand-color-button-blue-dark = #003e99;

// inputs
$brand-color-disabled-grey-light = #f0f0f0;
$brand-color-disabled-grey-text = #999999;

$brand-color-input-selected-border = #333331;

$brand-color-select-border = #cccccc;

// alerts
$brand-color-ok-green-light = #e9ffdd;
$brand-color-ok-green-dark = #365800;
$brand-color-ok-green-border = #a1e43f;

$brand-color-warning-yellow-light = #fff7bc;
$brand-color-warning-yellow-dark = #844100;
$brand-color-warning-yellow-border = #ffd400;

$brand-color-error-red-light = #fde3e3;
$brand-color-error-red-dark = #9b0a0a;
$brand-color-error-red-border = #fdaeae;


/*
 * Functional color names
 */
$color-link = $brand-color-link-blue;

$color-male = $brand-color-male-blue;
$color-female = $brand-color-female-pink;

// fonts
$color-headings = $brand-color-heading-grey;
$color-text = $brand-color-body-grey;
$color-label = $brand-color-label-grey;

// buttons
$color-background-gradient-start-button-primary = $brand-color-button-blue-light;
$color-background-gradient-stop-button-primary = $brand-color-button-blue-dark;

$color-background-gradient-start-button-secondary = $brand-color-button-grey-light;
$color-background-gradient-stop-button-secondary = $brand-color-button-grey-dark;
$color-border-button-secondary = $brand-color-button-grey-border;

// inputs
$color-background-input-disabled = $brand-color-disabled-grey-light;
$color-text-input-disabled = $brand-color-disabled-grey-text;

$color-border-input-selected = $brand-color-input-selected-border;

$color-border-select = $brand-color-select-border;

// alerts
$color-background-alert-success = $brand-color-ok-green-light;
$color-text-alert-success = $brand-color-ok-green-dark;
$color-border-alert-success = $brand-color-ok-green-border;

$color-background-alert-warning = $brand-color-warning-yellow-light;
$color-text-alert-warning = $brand-color-warning-yellow-dark;
$color-border-alert-warning = $brand-color-warning-yellow-border;

$color-background-alert-error = $brand-color-error-red-light;
$color-text-alert-error = $brand-color-error-red-dark;
$color-border-alert-error = $brand-color-error-red-border;





/*------------------------------------*\
  $FONTS
\*------------------------------------*/
$small-size = 14px;
$small-lineHieght = 20px;

$medium-size = 16px;
$medium-lineHieght = 24px;

$large-size = 21px;
$large-lineHeight = 24px;

$x-large-size = 28px;
$x-large-lineHeight = 32px;

$xx-large-size = 36px;
$xx-large-lineHeight = 39px;

$xxx-large-size = 48px;
$xxx-large-lineHeight = 50px;