/*------------------------------------*\
  $ALERTS
\*------------------------------------*/
/*
 * ALERTS
 * <div class="fs-alert">Message</div>
 */
.fs-alert {
  border: 1px solid;
  margin: 1em 0 0;
  padding: 1em;
  display: block;
  border-radius: 4px;
}