/*------------------------------------*\
  $ALERTS
\*------------------------------------*/
/*
 * ALERTS
 * <div class="alert">Message</div>
 */
.alert {
  border: 1px solid;
  margin: 1em 0 0;
  padding: 1em;
  display: block;
  border-radius: 0;
}