/*------------------------------------*\
  $BADGES
\*------------------------------------*/
/*
 * BADGES
 * <a href="#">Text<span class="badge"></span></a>
 */
.badge {
  display: inline-block;
  min-width: 21px;
  border-radius: 9px;
  line-height: 1;
  font-weight: normal;
  text-shadow: none;
  margin: 0 4px;
  padding: 1px 8px;
  box-sizing: border-box;
}