@import 'elements/*'
@import 'modules/*'
@import 'themes/_fs-theme'

/*
 * ICONS
 */
[class*='fs-icon-before']:before,
[class*='fs-icon-after']:after {
  content: '';
  display: inline-block;
  margin-bottom: 3px;
  vertical-align: middle;
}

[class*='fs-icon-before']:before {
  margin-right: 6px;
}
[class*='fs-icon-after']:after {
  margin-left: 6px;
}