
body {
  color: $body-grey;
  font-family: "ProximaNova", Verdana, sans-serif;
  font-size: $medium-size;
  line-height: $medium-lineHieght;
}

h1, h2, h3, h4 {
  font-family: "museo", serif;
}
h1 {
  color: $heading-grey;
  font-size: $xxx-large-size;
  line-height: $xxx-large-lineHeight;
}
h2 {
  color: $heading-grey;
  font-size: $xx-large-size;
  line-height: $xx-large-lineHeight;
}
h3 {
  font-size: $x-large-size;
  line-height: $x-large-lineHeight;
}
h4 {
  font-size: $large-size;
  line-height: $large-lineHeight;
}

a,
a:hover,
a:active {
  color: $link-blue;
}

/*
 * ICONS
 */
[class*='fs-icon-before']:before,
[class*='fs-icon-after']:after {
  content: '';
  display: inline-block;
  margin-bottom: 3px;
  vertical-align: middle;
}

[class*='fs-icon-before']:before {
  margin-right: 6px;
}
[class*='fs-icon-after']:after {
  margin-left: 6px;
}

/*
 * BUTTONS
 * <button class="button">Button (button.button)</button>
 * <a href="#" class="button">Button (a.button)</a>
 */
.button {
  font-family: "ProximaNova", Verdana, sans-serif; // temp for now
  // styles that all buttons use
  position: relative;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  font-size: $medium-size;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  text-shadow: 0px -1px 0 rgba(0,0,0,0.2);
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-appearance: none;

  // new buttons should override text, background, and border colors for default, hover, active, and disabled:hover states
  color: $white;
  background-color: $button-blue-light;
  background-image: linear-gradient($button-blue-light, $button-blue-dark);
  &:hover {
    text-decoration: none;
    color: $white;
    background: $button-blue-light;
    background-image: none;
  }
  &:active {
    color: $white;
    background-image: linear-gradient($button-blue-dark, $button-blue-light);
  }
  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    // new buttons must set the disabled hover state to match the default state of the button
    &:hover {
      background-image: linear-gradient($button-blue-light, $button-blue-dark);
    }
  }

  &:focus {
    outline: none;
  }

  // secondary submit button
  &.secondary {
    color: $body-grey;
    background-color: $button-grey-light;
    background-image: linear-gradient($button-grey-light, $button-grey-dark);
    text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
    &:hover {
      background: $button-grey-light;
    }
    &:active {
      background-image: linear-gradient($button-grey-dark, $button-grey-light);
    }
    &:disabled,
    &.disabled {
      &:hover {
        background-image: linear-gradient($button-grey-light, $button-grey-dark);
      }
    }
  }
}

/*
 * FORMS
 */
label {
  color: $label-grey;
  font-size: $small-size;
  line-height: $small-lineHieght;
}

textarea,
input[type=text] {
  border-radius: 4px;
  height: 22px;
  padding: 4px 6px;
  font-size: $medium-size;
  line-height: $medium-lineHieght;
  color: $body-grey;
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);

  &:focus {
    border: 1px solid $input-selected-border;
    box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);
    outline: 0;
  }
  &:disabled,
  &.disabled {
    color: $disabled-grey-text;
    background: $disabled-grey-light;
  }
}

textarea {
  resize: vertical;
  min-width: 50%;
  min-height: 75px;
}

select {
  border: 1px solid $select-border;
  padding: 4px 6px;
  font-size: $small-size;
  line-height: $small-lineHieght;
  color: $body-grey;
  margin: 0;
  height: 32px;

  &:focus {
    border: 1px solid #333331;
    outline: none;
  }
}

/*
 * ALERTS
 * <div class="alert">Message</div>
 */
.alert {
  border: 1px solid;
  border-left-width: 5px;
  margin: 1em 0 0;
  padding: 1em;
  display: block;
  border-radius: 0;
  background: $ok-green-light;
  color: $ok-green-dark;
  border-color: $ok-green-border;

  &.warning {
    background: $warning-yellow-light;
    color: $warning-yellow-dark;
    border-color: $warning-yellow-border;
  }
  &.error {
    background: $error-red-light;
    color: $error-red-dark;
    border-color: $error-red-border;
  }
}

/*
 * BADGES
 * <a href="#">Text<span class="badge"></span></a>
 */
.badge {
  display: inline-block;
  color: $black;
  background: $white;
  min-width: 21px;
  border-radius: 9px;
  font-size: $small-size;
  line-height: 1;
  font-weight: normal;
  text-shadow: none;
  margin: 0 4px;
  padding: 1px 8px;
  box-sizing: border-box;

  &.dark {
    color: $white;
    background: $heading-grey;
  }
}